# 이진분류 연습문제
- section 1 : 환자의 당뇨병 여부 예측
- section 2 : 이직 여부 예측
- section 3 : 신용카드 신청자의 미래 신용 예측

## section 1 : 환자의 당뇨병 여부 예측
- 예측할 컬럼 : Outcome(0:정상 , 1: 당뇨병)
- 학습용 데이터를 이용해 환자의 당뇨병을 예측하는 모델을 만든후 이를 평가용 데이터에 적용해 얻은 예측값을 csv 파일로 생성

In [2]:
#1. 문제 정의
# 평가 : roc-auc
# target = Outcome

In [3]:
import pandas as pd
train = pd.read_csv('./ch6_data/diabetes_train.csv')
test = pd.read_csv('./ch6_data/diabetes_test.csv')

In [4]:
# 탐색적 데이터 분석

print("Train shape", train.shape)
print("Test shape", test.shape)

print("train info", train.info())
print("test info", test.info())

Train shape (614, 9)
Test shape (154, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               614 non-null    int64
 1   Glucose                   614 non-null    int64
 2   BloodPressure             614 non-null    int64
 3   SkinThickness             614 non-null    int64
 4   Insulin                   614 non-null    int64
 5   BMI                       614 non-null    float64
 6   DiabetesPedigreeFunction  614 non-null    float64
 7   Age                       614 non-null    int64
 8   Outcome                   614 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 43.3 KB
train info None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 8 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               154 non-null    int64
 1   Glucose                   154 non-null    int64
 2   BloodPressure             154 non-null    int64
 3   SkinThickness             154 non-null    int64
 4   Insulin                   154 non-null    int64
 5   BMI                       154 non-null    float64
 6   DiabetesPedigreeFunction  154 non-null    float64
 7   Age                       154 non-null    int64
dtypes: float64(2), int64(6)
memory usage: 9.8 KB
test info None

In [5]:
print("target 빈도", train['Outcome'].value_counts())

target 빈도 Outcome
0    403
1    211
Name: count, dtype: int64

In [6]:
# 4. 데이터 전처리
# 타깃 분리
target = train.pop("Outcome")

In [7]:
# 5. 검증 데이터 나누기

from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val = train_test_split(
    train,
    target,
    test_size = 0.2,
    random_state = 0
)
X_train.shape,X_val.shape,y_train.shape,y_val.shape

((491, 8), (123, 8), (491,), (123,))

In [8]:
# 6. 머신러닝 학습
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
pred = rf.predict_proba(X_val)

In [ ]:
# 6-2. 머신러닝 평가
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val, pred[:,1])
print('roc_auc', roc_auc)

roc_auc 0.7963013698630137

In [10]:
# 7. 예측 및 결과 파일 생성
pred = rf.predict_proba(test)
sumbit = pd.DataFrame({'pred':pred[:,1]})
sumbit.to_csv("./ch6_data/section1_result.csv",index=False)

## Section 1 : 심화

In [11]:
import pandas as pd

train = pd.read_csv('./ch6_data/diabetes_train.csv')
test = pd.read_csv('./ch6_data/diabetes_test.csv')

target = train.pop('Outcome')

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
train = scaler.fit_transform(train)
test = scaler.transform(test)

In [14]:
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(train,target,test_size=0.2, random_state=0)


# 6. 머신러닝 학습
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth=5, n_estimators=500, random_state=0)
rf.fit(X_tr,y_tr)
pred = rf.predict_proba(X_val)

# 6-2. 머신러닝 평가
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val, pred[:,1])
print('roc_auc', roc_auc)

# 7. 예측 및 결과 파일 생성
pred = rf.predict_proba(test)
sumbit = pd.DataFrame({'pred':pred[:,1]})
sumbit.to_csv("./ch6_data/section1_result_2.csv",index=False)

roc_auc 0.8246575342465753

## Section 2 : 이직 여부 예측
- 예측할 컬럼 : target(0:새 일자리 x , 1 : 새 일자리 o)
- ROC_AUC 평가

In [15]:
train = pd.read_csv("./ch6_data/hr_train.csv")
test = pd.read_csv("./ch6_data/hr_test.csv")

In [16]:
print('train', train.shape)
print('test', test.shape)

train (15326, 14)
test (3832, 13)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15326 entries, 0 to 15325
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             15326 non-null  int64
 1   city                    15326 non-null  object
 2   city_development_index  15326 non-null  float64
 3   gender                  11750 non-null  object
 4   relevent_experience     15326 non-null  object
 5   enrolled_university     15012 non-null  object
 6   education_level         14961 non-null  object
 7   major_discipline        13045 non-null  object
 8   experience              15272 non-null  object
 9   company_size            10539 non-null  object
 10  company_type            10383 non-null  object
 11  last_new_job            14984 non-null  object
 12  training_hours          15326 non-null  int64
 13  target                  15326 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3832 entries, 0 to 3831
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             3832 non-null   int64
 1   city                    3832 non-null   object
 2   city_development_index  3832 non-null   float64
 3   gender                  2900 non-null   object
 4   relevent_experience     3832 non-null   object
 5   enrolled_university     3760 non-null   object
 6   education_level         3737 non-null   object
 7   major_discipline        3300 non-null   object
 8   experience              3821 non-null   object
 9   company_size            2681 non-null   object
 10  company_type            2635 non-null   object
 11  last_new_job            3751 non-null   object
 12  training_hours          3832 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 389.3+ KB

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3832 entries, 0 to 3831
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             3832 non-null   int64
 1   city                    3832 non-null   object
 2   city_development_index  3832 non-null   float64
 3   gender                  2900 non-null   object
 4   relevent_experience     3832 non-null   object
 5   enrolled_university     3760 non-null   object
 6   education_level         3737 non-null   object
 7   major_discipline        3300 non-null   object
 8   experience              3821 non-null   object
 9   company_size            2681 non-null   object
 10  company_type            2635 non-null   object
 11  last_new_job            3751 non-null   object
 12  training_hours          3832 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 389.3+ KB

In [21]:
print("train 결측치 " , train.isnull().sum())
print("test 결측치 " , test.isnull().sum())

train 결측치  enrollee_id                  0
city                         0
city_development_index       0
gender                    3576
relevent_experience          0
enrolled_university        314
education_level            365
major_discipline          2281
experience                  54
company_size              4787
company_type              4943
last_new_job               342
training_hours               0
target                       0
dtype: int64
test 결측치  enrollee_id                  0
city                         0
city_development_index       0
gender                     932
relevent_experience          0
enrolled_university         72
education_level             95
major_discipline           532
experience                  11
company_size              1151
company_type              1197
last_new_job                81
training_hours               0
dtype: int64

In [22]:
train.nunique()

enrollee_id               15326
city                        123
city_development_index       93
gender                        3
relevent_experience           2
enrolled_university           3
education_level               5
major_discipline              6
experience                   22
company_size                  8
company_type                  6
last_new_job                  6
training_hours              241
target                        2
dtype: int64

In [23]:
test.nunique()

enrollee_id               3832
city                       113
city_development_index      87
gender                       3
relevent_experience          2
enrolled_university          3
education_level              5
major_discipline             6
experience                  22
company_size                 8
company_type                 6
last_new_job                 6
training_hours             235
dtype: int64

In [24]:
train['target'].value_counts()

target
0.0    11517
1.0     3809
Name: count, dtype: int64

In [25]:
target = train.pop('target')

train = train.fillna("X")
test = test.fillna("X")

In [28]:
combined = pd.concat([train,test])

combined_dummies = pd.get_dummies(combined)

In [29]:
n_train = len(train)

In [30]:
train = combined_dummies[:n_train]
test = combined_dummies[n_train:]

In [32]:
from sklearn.model_selection import train_test_split

X_tr,X_val,y_tr,y_val = train_test_split(
    train,
    target,
    test_size = 0.2,
    random_state=0
)

In [33]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()

rf.fit(X_tr,y_tr)
pred = rf.predict_proba(X_val)

In [34]:
from sklearn.metrics import roc_auc_score

roc_auc = roc_auc_score(y_val,pred[:,1])
print('roc_auc', roc_auc)

roc_auc 0.7758351243906892

In [35]:
pred = rf.predict_proba(test)
sumbit = pd.DataFrame({'pred':pred[:,1]})
sumbit.to_csv('./ch6_data/result2.csv', index=False)

### Section 2 : 심화
- 1. 데이터 전처리 
    - 레이블 인코딩 : 베이스라인에 있는 원-핫 인코딩을 레이블 인코딩으로 변경
    - 스케일링(standard Scaler / Min_Max Scaler / Robust Scaler)
    - id 제거
- 2. 하이퍼 파라미터 튜닝
    - max_depth : 3~7
    - n_estimators : 200 ~ 500

In [36]:
import pandas as pd

train = pd.read_csv('./ch6_data/hr_train.csv')
test = pd.read_csv('./ch6_data/hr_test.csv')

In [37]:
target = train.pop('target')

In [38]:
train = train.fillna("X")
test = test.fillna("X")

In [41]:
from sklearn.preprocessing import LabelEncoder

combined = pd.concat([train,test])
cols = train.select_dtypes(include='object').columns

In [42]:
for col in cols:
    le = LabelEncoder()
    combined[col] = le.fit_transform(combined[col])

In [43]:
n_train = len(train)
train = combined[:n_train]
test = combined[n_train:]

In [44]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()
n_cols = train.select_dtypes(exclude='object').columns
train = scaler.fit_transform(train)
test = scaler.transform(test)

In [45]:
from sklearn.model_selection import train_test_split
X_tr,X_val, y_tr, y_val = train_test_split(
    train,
    target,
    test_size =0.2,
    random_state=0
)

In [46]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_tr,y_tr)
pred = rf.predict_proba(X_val)

In [47]:
from sklearn.metrics import roc_auc_score
roc_auc = roc_auc_score(y_val, pred[:,1])

In [48]:
print('roc_auc', roc_auc)

roc_auc 0.776719532124311

In [50]:
pred = rf.predict_proba(test)
submit = pd.DataFrame({"pred":pred[:,1]})
submit.to_csv("./ch6_data/section2_result2.csv",)

## section 3 : 신용카드 신청자의 채무 불이행을 예측하시오.
- 예측할 컬럼 : STATUS(0: 채무 이행, 1: 채무 불이행)

### 1. 문제정의
- pred : 예측값
- 제출한 모델의 성능은 f1 평가 지표에 따라 채점한다.

In [51]:
import pandas as pd

train = pd.read_csv('./ch6_data/creditcard_train.csv')
test = pd.read_csv('./ch6_data/creditcard_test.csv')

In [52]:
print("train : ", train.shape)
print("test : ", test.shape)

train :  (25519, 19)
test :  (7591, 18)

In [56]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25519 entries, 0 to 25518
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   25519 non-null  int64
 1   CODE_GENDER          25519 non-null  object
 2   FLAG_OWN_CAR         25519 non-null  object
 3   FLAG_OWN_REALTY      25519 non-null  object
 4   CNT_CHILDREN         25519 non-null  int64
 5   AMT_INCOME_TOTAL     25519 non-null  float64
 6   NAME_INCOME_TYPE     25519 non-null  object
 7   NAME_EDUCATION_TYPE  25519 non-null  object
 8   NAME_FAMILY_STATUS   25519 non-null  object
 9   NAME_HOUSING_TYPE    25519 non-null  object
 10  DAYS_BIRTH           25519 non-null  int64
 11  DAYS_EMPLOYED        25519 non-null  int64
 12  FLAG_MOBIL           25519 non-null  int64
 13  FLAG_WORK_PHONE      25519 non-null  int64
 14  FLAG_PHONE           25519 non-null  int64
 15  FLAG_EMAIL           25519 non-null  int64
 16  OCCUPATION_TYPE      17543 non-null  object
 17  CNT_FAM_MEMBERS      25519 non-null  float64
 18  STATUS               25519 non-null  int64
dtypes: float64(2), int64(9), object(8)
memory usage: 3.7+ MB

In [55]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7591 entries, 0 to 7590
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   7591 non-null   int64
 1   CODE_GENDER          7591 non-null   object
 2   FLAG_OWN_CAR         7591 non-null   object
 3   FLAG_OWN_REALTY      7591 non-null   object
 4   CNT_CHILDREN         7591 non-null   int64
 5   AMT_INCOME_TOTAL     7591 non-null   float64
 6   NAME_INCOME_TYPE     7591 non-null   object
 7   NAME_EDUCATION_TYPE  7591 non-null   object
 8   NAME_FAMILY_STATUS   7591 non-null   object
 9   NAME_HOUSING_TYPE    7591 non-null   object
 10  DAYS_BIRTH           7591 non-null   int64
 11  DAYS_EMPLOYED        7591 non-null   int64
 12  FLAG_MOBIL           7591 non-null   int64
 13  FLAG_WORK_PHONE      7591 non-null   int64
 14  FLAG_PHONE           7591 non-null   int64
 15  FLAG_EMAIL           7591 non-null   int64
 16  OCCUPATION_TYPE      7591 non-null   object
 17  CNT_FAM_MEMBERS      7591 non-null   float64
dtypes: float64(2), int64(8), object(8)
memory usage: 1.0+ MB

In [57]:
train['STATUS'].value_counts()

STATUS
0    25085
1      434
Name: count, dtype: int64

In [59]:
cols = train.select_dtypes(include='object').columns
for col in cols:
    set_train = set(train[col])
    set_test = set(test[col])
    same =(set_train == set_test)
    if same:
        print(col,"\t카테고리 동일함")
    else:
        print(col,"\t카테고리 동일하지 않음")

CODE_GENDER 	카테고리 동일함
FLAG_OWN_CAR 	카테고리 동일함
FLAG_OWN_REALTY 	카테고리 동일함
NAME_INCOME_TYPE 	카테고리 동일함
NAME_EDUCATION_TYPE 	카테고리 동일함
NAME_FAMILY_STATUS 	카테고리 동일함
NAME_HOUSING_TYPE 	카테고리 동일함
OCCUPATION_TYPE 	카테고리 동일하지 않음

In [60]:
train.dropna(subset=['OCCUPATION_TYPE'], inplace=True)

In [61]:
target = train.pop('STATUS')

In [62]:
# 원핫 인코딩
train = pd.get_dummies(train)
test = pd.get_dummies(test)

In [64]:
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)

In [65]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_tr,y_tr)

pred = rf.predict(X_val)

In [66]:
from sklearn.metrics import f1_score
score = f1_score(y_val,pred)
print('\n f1:', score)

 f1: 0.23853211009174313

In [68]:
pred = rf.predict(test)
submit = pd.DataFrame({'pred':pred})
submit.to_csv("./ch6_data/section3_result.csv",index=False)

### 2. 성능 개선
- 심각한 불균형 데이터일 경우 평가지표가 낮게 나올 수 있다.
- f1_score는 1에 가까울 수록 좋은 성능이다.
- 데이터 전처리
    - 1. 레이블 인코딩 : 베이스라인에 있는 원-핫 인코딩을 레이블 인코딩으로 변환
    - 2. 스케일링 효과가 없음.
    - 3. id 제거로 향상
- 하이퍼 파라미터 튜닝
    - 1. max_depth:3~7
    - 2. n_estimators:200~500
    - 3. class_weight='balanced'

In [69]:
import pandas as pd

train = pd.read_csv('./ch6_data/creditcard_train.csv')
test = pd.read_csv('./ch6_data/creditcard_test.csv')

In [70]:
freq = train['OCCUPATION_TYPE'].mode()[0]

In [71]:
train['OCCUPATION_TYPE'] = train['OCCUPATION_TYPE'].fillna(freq)
test['OCCUPATION_TYPE'] = test['OCCUPATION_TYPE'].fillna(freq)
target = train.pop("STATUS")

In [72]:
train = train.drop('ID',axis=1)
test = test.drop('ID',axis=1)

In [73]:
from sklearn.preprocessing import LabelEncoder
cols = train.select_dtypes(include='object').columns
for col in cols:
    le = LabelEncoder()
    train[col] = le.fit_transform(train[col])
    test[col]= le.transform(test[col])

In [74]:
from sklearn.model_selection import train_test_split
X_tr,X_val,y_tr,y_val = train_test_split(
    train,
    target,
    test_size=0.2,
    random_state=0
)

In [75]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_tr,y_tr)
pred = rf.predict(X_val)

In [76]:
from sklearn.metrics import f1_score
score = f1_score(y_val,pred)
print('f1',score)

f1 0.2972972972972973

In [77]:
pred = rf.predict(test)
submit = pd.DataFrame({'pred':pred})
submit.to_csv("./ch6_data/section3_result2.csv", index=False)