### 작업형 1 연습문제

In [1]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

In [3]:
df

        id   age city    f1  f2      f3    f4         f5  subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791  2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826  2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986  2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078  2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869  2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...         ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000  2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000  2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000  2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000  2025-02-17  2356.0

[120 rows x 10 columns]

#### 문제
- 1. 'f5'컬럼이 0이 아닌 데이터를 구하시오.
- 2. 앞에서 구한 데이터에 views 컬럼 결측치를 views 컬럼의 최솟값으로 채워주세요.
- 3. 그리고 views 컬럼의 중앙값을 계산해 정수로 구하시오.

In [6]:
#1. 'f5'컬럼이 0이 아닌 데이터를 구하시오.
cond = df['f5']!=0
df=df[cond]

In [8]:
# 2. 앞에서 구한 데이터에 views 컬럼 결측치를 views 컬럼의 최솟값으로 채워주세요.

min = df['views'].min()
df['views'].fillna(min,inplace=True)

df

/var/folders/6c/5zw1q8hx6r51frqls4xy7vdc0000gn/T/ipykernel_3317/384506819.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(min,inplace=True)
/var/folders/6c/5zw1q8hx6r51frqls4xy7vdc0000gn/T/ipykernel_3317/384506819.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['views'].fillna(min,inplace=True)

        id    age city    f1  f2    f3    f4         f5  subscribed    views
0     id01    2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16   6820.0
1     id02    9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12   2534.0
2     id03   27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16   7312.0
3     id04   75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21    493.0
4     id05   24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07   1338.0
..     ...    ...  ...   ...  ..   ...   ...        ...         ...      ...
97    id97  100.0   경기   NaN   0  gold  INFP  67.886373  2024-03-18   6687.0
98    id98   39.0   경기  58.0   2   NaN  INFP  98.429899  2024-10-02    865.0
99    id99    1.0   경기  47.0   0  gold  ESFJ  97.381034  2024-12-02   6090.0
100  id100   47.0   경기  53.0   0   vip  ESFP  33.308999  2024-02-21  15535.0
101   id68   35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29   8599.0

[102 rows x 10 columns]

In [9]:
# 3. 그리고 views 컬럼의 중앙값을 계산해 정수로 구하시오.

print(int(df['views'].median()))

5924

### 2.카테고리, 인덱스, 문자열 슬라이싱

#### 문제
- 1. 'subscribed' 컬럼에서 가장 빈도수가 많은 날짜를 구하시오.
- 2. 앞에 구한 날자의 일(day) 값을 정수로 구하시오.

In [10]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')
df

        id   age city    f1  f2      f3    f4         f5  subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791  2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826  2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986  2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078  2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869  2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...         ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000  2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000  2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000  2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000  2025-02-17  2356.0

[120 rows x 10 columns]

In [16]:
# 1. 'subscribed' 컬럼에서 가장 빈도수가 많은 날짜를 구하시오.
df = df['subscribed'].value_counts()

int(df.index[0][-2:])

17

### 3.파생변수,정렬, 인덱싱

#### 문제
- 1. 결측치가 있는 데이터(행)를 제거하시오.
- 2. views 컬럼을 'f1'컬럼을 나눈 값을 새로운 컬럼으로 추가하시오.
- 3. 새로운 컬럼 값 중 가장 큰 값을 가진 행의 age를 정수로 구하시오

In [23]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

# 결측치 제거
df=df.dropna()

# 새로운 컬럼 계산
df['new'] = df['views']/df['f1']

df=df.sort_values('new',ascending=False)

int(df.iloc[0,1])

22

### 4. 값 변경, 정렬, 합계

#### 문제
- 1. 'views' 컬럼의 결측 데이터를 0 으로 대체하시오.
- 2. 'views' 컬럼의 상위 10번째 값을 구하시오.
- 3. 'views' 컬럼의 상위 10개 값을 상위 10번째 값으로 대체하시오.
- 4. 'views' 컬럼의 전체 합을 정수로 구하시오.

In [27]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

# views 컬럼 결측 데이터 0으로 대체
df['views'].fillna(0,inplace=True)

# 내림 차순 정렬
df=df.sort_values('views',ascending=False)

# views 컬럼의 상위 10 번째 값 구하기
views_min = df.iloc[:10]['views'].min()
df.iloc[:10,-1] = views_min

print(int(df['views'].sum()))

652812

/var/folders/6c/5zw1q8hx6r51frqls4xy7vdc0000gn/T/ipykernel_3317/3088513476.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(0,inplace=True)

### 5. 문자열 슬라이싱, 파생변수, 평균값

#### 문제
- 1. 'f4'컬럼 데이터에 'FJ'가 포함된 데이터를 찾으시오.
- 2. 찾은 데이터 중에서 'f2' 컬럼의 평균값을 구하시오(반올림 후 소수 둘째 자리까지 계산)

In [31]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

cond = df['f4'].str.contains('FJ')
df = df[cond]

print(round(df['f2'].mean(),2))

0.61

### 6. 필터링,분산

#### 문제
- 1. 'f3' 컬럼이 gold 이면서 'f2'컬럼이 2인 데이터를 찾으시오.
- 2. 찾은 데이터 에서 'f1'컬럼의 분산을 구하시오.

In [33]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

cond1 = df['f3']=='gold'
cond2 = df['f2']==2

df = df[cond1 & cond2]

print(round(df['f1'].var(),2))

235.43

### 7. 필터링,분산

#### 문제
- 1. 모든 나이(age)에 1을 더하시오.
- 2. 20대의 'views' 평균과 30대의 'views' 차이의 절대값을 구하시오

In [38]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

df['age']=df['age']+1

cond1 = (df['age']>=20) & (df['age']<30)
cond2 = (df['age']>=30) & (df['age']<40)

result = abs(df[cond1]['views'].mean()) - abs(df[cond2]['views'].mean())

print(round(result,2))

263.13

### 8. 시계열 데이터, 필터링, 데이터 개수

#### 문제
- 1. 'subscribed'컬럼이 2024년 2월인 데이터를 찾으시오.
- 2. 위에서 찾은 데이터 중 'f3' 컬럼이 gold인 데이터 개수를 구하시오.

In [44]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')


df['subscribed']=pd.to_datetime(df['subscribed'])
df['year']=df['subscribed'].dt.year
df['month']=df['subscribed'].dt.month

cond1 = df['year']==2024
cond2 = df['month']==2
cond3 = df['f3']=='gold'

df = df[cond1&cond2&cond3]
print(len(df))

5

### 9. 필터링, 카테고리, 최빈값

#### 문제
- 1. 'views '컬럼이 1000 이하인 데이터(결측치 제외)를 찾으시오.
- 2. 앞에서 구한 데이터 'f4' 컬럼의 최빈값을 구하시오.

In [47]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

cond = df['views']<=1000
df = df[cond]

df = df['f4'].value_counts()
print(df.index[0])

ISFJ

### 10. 그룹핑, 최댓값, 정렬

#### 문제
- 1. 결측치가 있는 행을 삭제하시오.
- 2. 결측치가 삭제된 데이터를 사용하여 지역별(city) 평균을 계산하시오.
- 3. 앞에서 계산한 지역별 평균 데이터에서 'f2'컬럼 값이 가장 큰 지역을 구하시오.

In [51]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

df = df.dropna()

df = df.groupby(['city']).mean(numeric_only=True)

print(df.sort_values("f2",ascending=False).index[0])

서울

### 11. 슬라이싱, 사분위수, 결측치 제거

#### 문제
- 1. 데이터에서 결측치가 있는 데이터를 모두 제거하시오.
- 2. 결측치가 제거된 데이터를 사용하여 앞에서부터 70% 데이터를 구하시오
    (데이터 70% 지점의 index가 소수점으로 계산될 경우 소수점 이하는 버림.)
- 3. 앞에서 구한 70% 데이터중 'views' 컬럼의 3분위수에서 1사분위수를 뺀 값을 정수로 구하시오.

In [56]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

df = df.dropna()

end = int(len(df)*0.7)
df = df.iloc[:end]

q3 = df['views'].quantile(.75)
q1 = df['views'].quantile(.25)
print(int(q3-q1))

2771

### 12. 결측치 처리, 최빈값, 데이터 개수

#### 문제
- 1. 결측치가 가장 많은 두 컬럼을 찾으시오.
- 2. 첫 번째로 결측치가 많은 컬럼에서 데이터를 삭제하시오.
- 3. 두번째로 결측치가 많은 컬럼을 최빈값으로 대체
- 4. 'f3' 컬럼의 'gold'값을 가진 데이터의 수를 정수형으로 구하시오.

In [62]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

print(df.isnull().sum())

# 결측치 f1, f3
df = df.dropna(subset=['f1'])
freq = df['f3'].mode()[0]
df['f3'].fillna(freq, inplace=True)

print(sum(df['f3']=='gold'))

id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64
63

/var/folders/6c/5zw1q8hx6r51frqls4xy7vdc0000gn/T/ipykernel_3317/3015386824.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['f3'].fillna(freq, inplace=True)

### 13. 결측 데이터 찾기, 필터링, 평균값

#### 문제
- 1. 'f1' 컬럼에 결측치가 있는 데이터만 선택하시오.
- 2. 선택된 데이터에서 'age' 컬럼의 평균값을 구하시오

In [66]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

cond = df['f1'].isnull()

df = df[cond]

print(round(df['age'].mean(),2))

53.6

### 14. 중복 데이터 제거, 값 변경, 데이터 개수
#### 문제
- 1. 중복 데이터를 제거
- 2. 'f3' 컬럼의 결측치는 0, 'silver'는 1, 'gold'는 2, 'vip'는 3으로 변환
- 3. 변환된 f3 컬럼의 총합을 정수형으로 구하시오.

In [69]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

df.drop_duplicates(inplace=True)

import numpy as np

df['f3']=df['f3'].replace(np.nan,0).replace('silver',1).replace('gold',2).replace('vip',3)

print(int(df['f3'].sum()))

167

/var/folders/6c/5zw1q8hx6r51frqls4xy7vdc0000gn/T/ipykernel_3317/2515775306.py:8: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['f3']=df['f3'].replace(np.nan,0).replace('silver',1).replace('gold',2).replace('vip',3)

### 15. 컬럼 삭제, 행 단위 합계, 필터링
#### 문제
- 1. 주어진 데이터에서 문자 자료형 컬럼을 삭제하시오.
- 2. 숫자 자료형 컬럼의 결측치를 0으로 대체하시오.
- 3. 각 행의 합이 3000보다 큰 값의 개수를 정수로 구하시오

In [75]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

cols = df.select_dtypes(exclude='object').columns
df=df[cols]

df.fillna(0, inplace=True)

df=df.T

print(sum(df.sum()>3000))

88

### 16. 이상치 ,IQR
#### 문제
- 1. views 컬럼의 1사분위수, 3분위수 그리고 IQ을 계산하시오.
- 2. 이상치 조건에 맞는 데이터를 찾으시오.
- 3. 이상치 데이터의 'views' 컬럼 합을 정수로 구하시오

In [79]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

q1 = df['views'].quantile(.25)
q3 = df['views'].quantile(.75)
IQR = q3-q1

print(q1,q3,IQR)

line1 = q1-IQR*1.5
line2 = q3+IQR*1.5

cond1 = df['views']<line1
cond2 = df['views']>line2

df = df[cond1 | cond2]
print(int(df['views'].sum()))

3031.0 8473.5 5442.5
77699

### 17. 이상치, 소수점 있는 데이터 찾기, 표준 편차
#### 문제
- 1. 'views' 컬럼의 표준편차를 구하시오.
- 2. 'age' 컬럼의 이상치(소수점 나이, 음수 나이, 0살)를 제거하고, 'views' 컬럼의 표준편차를 구하시오,
- 3. 이상치 제거 전후의 'views' 컬럼의 표준편차를 더하여, 반올림 후 소수 둘째 자리까지 구하시오.

In [83]:
import pandas as pd
df = pd.read_csv('./data/type1_data1.csv')

r1 = df['views'].std()

cond = df['age']<=0
df=df[~cond]

cond = df['age'] == round(df['age'],0)
df = df[cond]

r2 =df['views'].std()

print(round(r1+r2,2))

8297.31

### 18. 데이터(행) 기준 평균값 ,인덱싱
#### 문제
- 1. index '2001' 평균보다 큰 값의 개수를 구하시오.
- 2. index '2003' 데이터에서 평균보다 작은 값의 개수를 구하시오.
- 3. 두 개수를 더하시오.

In [89]:
import pandas as pd
df = pd.read_csv('./data/type1_data2.csv',index_col="year")

# 2001, 평균보다 큰 값 합계
m1 = df.loc[2001].mean()
cond1 = df.loc[2001] > m1
r1 = sum(cond1)

m2 = df.loc[2003].mean()
cond2 = df.loc[2003] < m2
r2 = sum(cond2)

print(r1+r2)

202

### 19. 결측치(뒤의 값으로 대체), 그룹합
#### 문제
- 1. index '2001' 평균보다 큰 값의 개수를 구하시오.
- 2. index '2003' 데이터에서 평균보다 작은 값의 개수를 구하시오.
- 3. 두 개수를 더하시오.